
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --container-width: 126rem;
}
    




body { 
    padding: 0;
    margin: 0;
    font-family: "Poppins";
    
    
    
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


.container {
    max-width: var(--container-width);
    margin: 0 auto; 
    padding-left: 8%;
    padding-right: 8%;
    
}



.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    height: 70px;
    padding-top: 2.5rem;
    
}



.mob-nav {
    display: none;
    
}

.navbar li {
    list-style-type: none;
    margin: 1em;
    
}

.navbar .logo {
    text-decoration: none;
    color: white;
    font-family: "Poppins";
    font-weight: bold;
}

.navbar .nav-text {
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    transition: 0.3s;
}

.nav-text:hover {
    background-color: #FF9A94;
    padding: 0.75em;
    border-radius: 10px;
}

.primary-nav {
    display: flex;
    flex-direction: row;
    margin: 4.5em;
    
}

.logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.logo {
    margin: 1em;
}

.header {
    height: 700px;
    background: linear-gradient(#FFAFAA, #FC6D4E);
}

.content {
    display: flex;
    flex-direction: column;

}



.main-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 2;
    margin-top: 8em;
    
}


.main-head h3 {
    color: white;
    
}

.get-btn {
    background-color: white;
    color: #FC6D4E;
    border-radius: 25px;
    padding: 8px 35px;
    min-width: 100px;
    margin: 1em;
    transition: 0.3s;
}

.get-btn:hover {
    background-color: #F2F2F2;
}

.content-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2em 0;
}

.get-text {
    min-width: 600px;
    line-height: 1.5;
}

.hero-img {
    margin-left: 5em; 
    width: 30vw;
}

.text-row {
    display: flex; 
    flex-direction: row;
    align-items: center;
    margin-top: 2em;

}

.bullet {
    width: 40px;
    margin: 1em;
}

.cover-head2 {
    font-size: 2.5em;
}

.hamburger {
    width: 40px;
    display: none;
}

.footer {
    display: flex;
    background-color: #FC6D4E;
    min-height: 125px;
    align-items: center;
}

.cont-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cont-row a {
    margin: .5em;
}



@media only screen and (max-width: 1500px) {
   .get-text {
       min-width: 400px;
   }
}

@media only screen and (min-width: 901px) {
    .mob-nav {
        display: none !important;
    }
}

@media only screen and (max-width: 1150px) {
    
    .get-text {
        min-width: 350px;
    }

    .hero-img {
        margin: 2em;
        width: 50vw;
    }


    

    

    
}


@media only screen and (max-width: 900px) {

    .content-row {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .main-head {
        margin-top: 6em;
    }

    .navbar {
        justify-content: center;
    }

    .cover-head2 {
        text-align: center;
    }

    .hero-img {
        width: 500px;
    }

    .primary-nav {
        display: none;
        
    }

    .hamburger {
        display: block;
      
    }

    .get-text {
        min-width: 200px;
    }

    .hero-img {
        width: 80%;
    }

    .mob-nav {

        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 75px;
        border-radius: 25px;
        margin-top: 2em;
        transition: 0.3s;
        visibility: hidden;
        background-color: white;
        
    }

    .mob-nav li {
        margin: 0.2em
    }

    .mob-nav a {
        color: #FC6D4E;
        font-weight: bold;  
    }



    .logo {
        font-size: 0.8em;
    }


}